# 'flair' doesn't support python 3.11 as of v0.12.2 (Mar 30, 2023)
flair==0.11.3

# flair ontonotes pre-trained model do not have compatible version for torch>=2 and flair==0.11.3, see https://huggingface.co/flair/ner-english-ontonotes-fast/discussions/1
# also align torch version with rest of dss (especially to avoid potential cuda runtime compatibility issues)
torch==1.9.1; platform_system == "Darwin"
torch==1.9.1+cu111; platform_system != "Darwin"
--find-links https://download.pytorch.org/whl/torch_stable.html

# 'gensim' didn't support python 3.10 and 3.11 prior to v4.3.0 (Dec 21, 2022)
gensim==3.8.0; python_version < '3.10'
gensim==4.3.0; python_version >= '3.10'

flask>=2.0,<2.1
numpy==1.19.5; python_version < '3.8'
numpy>1.19,<1.24; python_version >= '3.8'
tokenizers==0.10.3; python_version == '3.6'
sudachipy==0.6.0; python_version == '3.6'
sudachipy<0.6.10; python_version >= '3.7' and python_version < '3.9' and platform_system != "Darwin"
sudachipy<0.6.9; python_version >= '3.7' and python_version < '3.9' and platform_system == "Darwin"
tqdm==4.50.0
# with v1.13 release triu was removed
scipy<1.13
# fixing cannot import name 'cached_download' from 'huggingface_hub'
huggingface-hub<=0.25.2

typing_extensions<4.6.0 # https://github.com/explosion/spaCy/issues/12659 => remove when spacy is bumped

spacy[ja]==3.3.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0.tar.gz#egg=en_core_web_sm
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.3.0/es_core_news_sm-3.3.0.tar.gz#egg=es_core_news_sm
https://github.com/explosion/spacy-models/releases/download/zh_core_web_sm-3.3.0/zh_core_web_sm-3.3.0.tar.gz#egg=zh_core_web_sm
https://github.com/explosion/spacy-models/releases/download/pl_core_news_sm-3.3.0/pl_core_news_sm-3.3.0.tar.gz#egg=pl_core_news_sm
https://github.com/explosion/spacy-models/releases/download/nb_core_news_sm-3.3.0/nb_core_news_sm-3.3.0.tar.gz#egg=nb_core_news_sm
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.3.0/fr_core_news_sm-3.3.0.tar.gz#egg=fr_core_news_sm
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.3.0/de_core_news_sm-3.3.0.tar.gz#egg=de_core_news_sm
https://github.com/explosion/spacy-models/releases/download/ja_core_news_sm-3.3.0/ja_core_news_sm-3.3.0.tar.gz#egg=ja_core_news_sm
