torch==1.4.0
flask==1.1.1
flair==0.4.5
spacy==2.2.3
https://github.com/explosion/spacy-models/archive/pt_core_news_sm-2.2.5.tar.gz
https://github.com/explosion/spacy-models/archive/nl_core_news_sm-2.2.5.tar.gz
https://github.com/explosion/spacy-models/archive/nb_core_news_sm-2.2.5.tar.gz
https://github.com/explosion/spacy-models/archive/lt_core_news_sm-2.2.5.tar.gz
https://github.com/explosion/spacy-models/archive/it_core_news_sm-2.2.5.tar.gz
https://github.com/explosion/spacy-models/archive/fr_core_news_md-2.2.5.tar.gz
https://github.com/explosion/spacy-models/archive/es_core_news_md-2.2.5.tar.gz
https://github.com/explosion/spacy-models/archive/en_core_web_lg-2.2.5.tar.gz
https://github.com/explosion/spacy-models/archive/el_core_news_md-2.2.5.tar.gz
https://github.com/explosion/spacy-models/archive/de_core_news_md-2.2.5.tar.gz
